.space{
    margin-bottom: 50px;
}
.myMargin{
    margin:0.5rem;
}
table.tabMargin{
width: 80%;
}

.header{
    font-size: 50px;
}
.separatePart{
    
    box-shadow: 2px 2px 2px rgba(0,0,0,.5);
    margin-bottom: 15px;
    padding-bottom: 10px;
}
.docName{
    color: #fff;
}
table{
    margin: auto;
    width: 100%;
}



@media only screen and (min-width:768px){
    .myMargin{
        margin:auto;
    }
   .separatePart{
    
    margin-bottom: auto;
} 
}

@media only screen and (min-width:1000px){
    .myMargin{
        margin:auto;
    }
}